body 
{
    background: url('phone.png');
    background-repeat: no-repeat;
    background-position: 15 0 ;
    background-size: 300px;
}


#contenuto
{
    position: absolute;
    top: 90px;
    left: 35px;
    height: 353px;
    width: 257px;
    background-color: snow;
    overflow: auto;
}


#CambioSezione
{
    position: absolute;
    top: 443px;
    left: 35px;
    height: 60px;
    width: 257px;
}


table
{
    width: 100%;
    height: 100%;
}


#Sezioneid
{
    height: 30px;
    background-color:crimson;
    border: 1px solid black;
}


td
{
    border-bottom: 1pt solid black;
}


input
{
    height: 30px;
    width: 257px;
    background-color:crimson;
    border: 1px solid black;
}